[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sqlalchemy = "*"
flask = "*"
pymysql = "*"
requests = "*"
beautifulsoup4 = "*"
sklearn = "*"
scikit-learn = "*"
gunicorn = "*"
blackcellmagic = "*"
pandas = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
